/* ================= GLOBAL ================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:white;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    font-family:'Poppins',sans-serif;

}

/* Mobile */

.mobile-app{

    width:390px;

    height:844px;

    background:#0D0D0D;

    border-radius:12px;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.45);

    display:flex;

    flex-direction:column;

}

/* Header */

.header{

    background:#2C3136;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 20px;

}

.logo{

    font-size:34px;

    font-weight:700;

    color:white;

}

.logo span{

    color:#22C55E;

}

.profile{

    width:50px;

    height:50px;

    border-radius:50%;

    background:#1C1C1E;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

}

/* Ribbon */

.ribbon {
    height: 80px;
    background: #1E8F3C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.page-title-box {
    background: #2ECC5A;
    color: white;
    font-size: 32px;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 18px;
    box-shadow: 0 6px 15px rgba(0,0,0,.3);
    text-align: center;
}

.left-triangle {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 22px solid #2ECC5A;
    cursor: pointer;
}

.right-triangle {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 22px solid #2ECC5A;
    cursor: pointer;
}

/* Main */

.content{

    flex:1;

    padding:28px 22px;

    display:flex;

    flex-direction:column;

}

/* Heading */

.greeting h2{

    color:white;

    font-size:30px;

    margin-bottom:28px;

}

/* Card */

.menu{

    margin-bottom:35px;

}

.card{

    width:100%;

    background:#1C1C1E;

    border:none;

    border-radius:18px;

    padding:20px;

    color:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    cursor:pointer;

}

.card-title{

    font-size:20px;

    font-weight:600;

}

.right{

    font-size:34px;

    color:#22C55E;

}

/* Members */

.members-section{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.section-title{

    color:white;

    font-size:22px;

    font-weight:700;

}

/* Box */

.members-list-card{

    background:#1C1C1E;

    border-radius:18px;

    padding:15px;

}

/* Scroll */

.members-scroll{

    max-height:240px;

    overflow-y:auto;

    padding-right:6px;

}

/* Scrollbar */

.members-scroll::-webkit-scrollbar{

    width:5px;

}

.members-scroll::-webkit-scrollbar-thumb{

    background:#555;

    border-radius:10px;

}

.members-scroll::-webkit-scrollbar-track{

    background:transparent;

}

/* Member */

.member-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:16px 4px;

    border-bottom:1px solid #2E2E2E;

}

.member-name{

    font-size:22px;

    color:white;

}

.remove-btn{

    background:none;

    border:none;

    color:#FF4D4D;

    font-size:34px;

    cursor:pointer;

}

/* Manual */

.add-manual-btn{

    margin-top:12px;

    background:none;

    border:none;

    color:white;

    font-size:22px;

    cursor:pointer;

    text-align:left;

}

/* Continue */

.footer-actions{

    margin-top:auto;

    display:flex;

    justify-content:flex-end;

    padding-top:25px;

}

.continue-btn{

    background:none;

    border:none;

    color:white;

    font-size:26px;

    font-weight:700;

    cursor:pointer;

}

.continue-btn:hover{

    color:#22C55E;

}